body {
    padding-top: 50px;
}

#name {
    text-align: center;
}

.errorlist {
    list-style: none;
    padding: 10px 15px;
    background-color: cornsilk;
}

.show {
    margin-top: 25px;
    margin-bottom: 150px;
}

li.success {
    list-style: none;
    text-align: center;
    margin: 30px 0;
}
