{% extends "payday/parent.html" %}
{% load widget_tweaks %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" action="{% url "register:register" %}" class="col-md-6 col-md-offset-3">
        {% csrf_token %}

        <div class="form-group">
            {{ form.non_field_errors }}
        </div>

        <input type="password" style="width: 0;height: 0; visibility: hidden;position:absolute;left:0;top:0;"/>

        <div class="form-group">
            {{ form.user_name.errors }}
            <label for="{{ form.user_name.auto_id }}">{{ form.user_name.label }}</label>
            {{ form.user_name|add_class:"form-control" }}
        </div>

        <div class="form-group">
            {{ form.user_email.errors }}
            <label for="{{ form.user_email.auto_id }}">{{ form.user_email.label }}</label>
            {{ form.user_email|add_class:"form-control" }}
        </div>

        <div class="form-group">
            {{ form.user_password.errors }}
            <label for="{{ form.user_password.auto_id }}">{{ form.user_password.label }}</label>
            {{ form.user_password|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label for="{{ form.confirm_user_password.auto_id }}">{{ form.confirm_user_password.label }}</label>
            {{ form.confirm_user_password|add_class:"form-control" }}
        </div>

        <input type="submit" value="Регистрация">
    </form>


{% endblock %}