<!doctype html>
<html lang="ru">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PayDay</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.css">
    <link rel="stylesheet" href="{% static "style/style.css" %}">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
</head>

<body>
<h1 id="name">PayDay</h1>


<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PayDay</a>
        </div>
        <div class="navbar-collapse collapse" style="height: 1px;margin: auto;text-align: center;">
            <ul class="nav navbar-nav">

                <li {% if request.resolver_match.url_name == "index" %} class="active" {% endif %} ><a
                        href="{% url 'payday:index' %}">Домашняя страница</a></li>
                <li {% if request.resolver_match.url_name == "new" %} class="active" {% endif %} ><a
                        href="{% url 'payday:new' %}">Добавить запись</a></li>
                <li {% if request.resolver_match.url_name == "count" %} class="active" {% endif %} ><a
                        href="{% url 'payday:count' %}">Расчитать зарплату</a></li>
                {% if user_name %}
{#                    <li><a href={% url 'register:logout' %}>Выйти</a></li>#}
                {% else %}
{#                    <li><a href={% url 'register:login' %}>Войти</a></li>#}
                {% endif %}
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</div>

{% block content %}
{% endblock %}

</body>
</html>